* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fff5ee;
    --secondary-color: #40e0d0;

}

body {
    color:grey;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}

/* header*/
header {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    top: 0;
    padding: 20px 35px;
    justify-content: space-between;
    position: sticky;
}

header h1 {
    color: var(--secondary-color);
    font-size: 50px;
    margin: 0;

}

header a {
    color: var(--secondary-color);
}

header nav {
    margin: 10px 6px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 15px;
}
/* header styles end*/

/* About Me section + picture */
.about-me {
    margin-right: 32px;
    font: 15px;
}

.description {
    float: right;
}

.about-me img {
    width: 30%;
    margin-left: 15px;
}
/* About Me styles end*/

/* Section-Projects */
.section-title {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: var(--secondary-color);
}

.projects-list {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-top: 15px;
}
/* section-projects end*/

/* contact info*/
.contact-links {
    align-items: baseline;
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
}
